---

# PHASE 1 MILESTONE 2 MODEL INFERENCE

---

Nama : Irfan Risqy Trianto

Batch : BSD - 001

Pada notebook ini akan dilakukan prediksi tingkat satisfaction passanger maskapai H8 Airways menggunakan model klasifikasi yang sudah dibuat.

In [1]:
# Import Libraries
import pickle
import json
import pandas as pd 
import numpy as np

In [2]:
# Load data yang sudah dibuat di model
with open('best_model.pkl', 'rb') as file:
    best_model = pickle.load(file)

In [3]:
# Membuat data inference
data_inf = {
    'id': 1708, 
    'Gender': 'Male', 
    'Customer Type': 'Loyal Customer', 
    'Age': 22, 
    'Type of Travel': 'Business Travel', 
    'Class': 'Business',
    'Flight Distance': 2222, 
    'Inflight wifi service': 4,
    'Departure/Arrival time convenient': 3, 
    'Ease of Online booking': 4,
    'Gate location': 2, 
    'Food and drink': 5, 
    'Online boarding': 4, 
    'Seat comfort': 5,
    'Inflight entertainment': 5, 
    'On-board service': 4, 
    'Leg room service': 4,
    'Baggage handling': 3, 
    'Checkin service': 3, 
    'Inflight service': 3,
    'Cleanliness': 4, 
    'Departure Delay in Minutes': 10,
    'Arrival Delay in Minutes': 20
}

In [4]:
# Convert menjadi dataframe
data_inf = pd.DataFrame([data_inf])
data_inf

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,1708,Male,Loyal Customer,22,Business Travel,Business,2222,4,3,4,...,5,5,4,4,3,3,3,4,10,20

In [5]:
# Predict menggunakan best model
y_pred_inf = best_model.predict(data_inf)

# Menampilkan hasil
if y_pred_inf[0] == 1:
    print('Passanger Satisfaction : Satisfied')
else:
    print('Passanger Satisfaction : Dissatisfied')

Passanger Satisfaction : Satisfied

Bisa dilihat hasil diatas telah dilakukan prediksi dengan menggunakan data baru yang dimana model memprediksi data baru tersebut sebagai '1' yang berarti pelanggan tersebut bisa terbilang satisfied.